#heading {
    border: 3px solid white;
}

#heading > .logo {
    border-right: 2px solid rgb(158, 158, 158);
    float: left;
    height: 25%;
    width: 15%;
}

#column {
    float: left;
    width: 8%;
}

#column > .prenota {
    float: right;
    margin: 15px;
    font-family: Lato,"-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    color: darkcyan;
    font-size: 20px;
}

#header {
    background-color: #5db3b0;
    margin-top: 61px;
    min-height: 71px;
}

#header > .col {
   font-family: Lato,"-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
   background-color: #5db3b0;
   color: #d9f8f7;
   float: left;
   height: 100%;
   width: auto;
   padding: 1%;
   margin: 3px;
   cursor: pointer;

}

#header > .col1 {
    float: right;
    background-color: #5db3b0;
    color: #d9f8f7;
    height: 100%;
    width: auto;
    padding: 1%;
    margin: 3px;
    cursor: pointer;
}

#icon > .img {
    background: url("https://prenota-drive.regione.lazio.it/images/background/main-background-image.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
}

#conteiner {
    position: relative;
    max-width: 600px;
    margin: auto;
}

#conteiner > .cont {
    width: 100%;
    height: 400px;
    font-size: 17px;
    font-family: Lato,"-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    color: white;
    margin-top: -380px;
}

#contenuto > .content{
        position: absolute;
        margin-top: -10%;
        margin-left: 30%;
        display: inline-block;
        height: 25%;
        width: 10%;
        padding: 1%;
        background-color: #fff;
        border-radius: 5px;
         box-shadow: 3px 0 20px 0 rgb(112 112 112 / 45%);  
    } 
    
    .content1{
        position: absolute;
        margin-top: -10%;
        margin-left: 45%;
        display: inline-block;
        height: 25%;
        width: 10%;
        padding: 1%;
        background-color: #fff;
        border-radius: 5px;
         box-shadow: 3px 0 20px 0 rgb(112 112 112 / 45%);  
    }

    .content2{
        position: absolute;
        margin-top: -10%;
        margin-left: 60%;
        display: inline-block;
        height: 25%;
        width: 10%;
        padding: 1%;
        background-color: #fff;
        border-radius: 5px;
         box-shadow: 3px 0 20px 0 rgb(112 112 112 / 45%);  
    }

    

   

